# AT3 - Data Product with Machine Learning

You will have to build a Streamlit app that let users provide the following inputs:

- Origin airport
- Destination airport
- Departure date
- Departure time
- Cabin type (coach, premium, …)

Your group will need to train 4 different models, one per student. Each student will need to submit their best model and make it available in the Streamlit app.

**[1]** Import neccessary packages to list the folders that contains *.zip files

In [1]:
import pandas as pd

# timezone for the airport
import airportsdata
import datetime
import pytz

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_origin = pd.read_parquet("/Users/merrymira/Documents/UTS/36120/at3-streamlit/combined_files.parquet")

In [3]:
df = df_origin.sample(frac=0.1, random_state=42)
df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
13184210,8373ee5bc9747f7f2b3cbceb345052da,2022-05-05,2022-07-04,SFO,JFK,PT5H45M,False,False,True,422.60,...,1657018800,2022-07-05T07:00:00.000-04:00,JFK,SFO,American Airlines,AA,AIRBUS INDUSTRIE A321 SHARKLETS,20700,2566,coach
9358545,09ec6690e4c5931d34cb67998c3b2335,2022-04-28,2022-05-04,LGA,IAD,PT4H9M,False,False,False,501.60,...,1651665060||1651673340,2022-05-04T07:51:00.000-04:00||2022-05-04T10:0...,DTW||IAD,LGA||DTW,Delta||Delta,DL||DL,Airbus A320||Canadair Regional Jet 900,6660||5040,485||391,coach||coach
13164279,fffdaa66f76d3e64d336a45c7ea08a97,2022-04-28,2022-05-19,SFO,DEN,PT4H26M,False,False,False,369.60,...,1652985060||1652993760,2022-05-19T11:31:00.000-07:00||2022-05-19T14:5...,PHX||DEN,SFO||PHX,American Airlines||American Airlines,AA||AA,Boeing 737-800||Airbus A321,7260||6360,652||590,coach||coach
6375774,687f41343ae0e2d994fafc649d47f65d,2022-05-18,2022-05-26,IAD,ORD,PT6H22M,False,False,False,346.11,...,1653582300||1653600180,2022-05-26T12:25:00.000-04:00||2022-05-26T16:2...,CLT||ORD,IAD||CLT,American Airlines||American Airlines,AA||AA,Airbus A319||Boeing 737-800,5040||7740,327||592,coach||coach
10895727,a4a8fdf11a1d86dc94abc019de21629a,2022-04-19,2022-05-15,ORD,MIA,PT3H3M,False,False,True,285.60,...,1652639880,2022-05-15T14:38:00.000-04:00,MIA,ORD,United,UA,Boeing 737-800,10980,1192,coach

In [4]:
df.describe(include='all')

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
count,1352000,1352000,1352000,1352000,1352000,1352000,1352000,1352000,1352000,1.352000e+06,...,1352000,1352000,1352000,1352000,1352000,1352000,1326126,1352000,1352000,1352000
unique,757823,32,92,16,16,1483,2,2,2,NaN,...,633733,669164,4107,4137,106,106,4685,65030,8462,38
top,984055a17eb5cfb55e6685f328c53848,2022-04-17,2022-05-24,LAX,LAX,PT1H25M,False,False,False,NaN,...,1653278340,2022-05-12T23:59:00.000-04:00,ORD,ORD,American Airlines||American Airlines,AA||AA,Boeing 737-800,5100,None||None,coach||coach
freq,11,53729,28550,135305,129341,5295,1276555,1351983,956830,NaN,...,65,51,36525,36759,240501,240501,73392,5295,80565,852967
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.738684e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.081039e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.397000e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.235900e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.446100e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.876000e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.260610e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**[2]** Check for null values

In [5]:
df.isna().sum()

legId                                    0
searchDate                               0
flightDate                               0
startingAirport                          0
destinationAirport                       0
travelDuration                           0
isBasicEconomy                           0
isRefundable                             0
isNonStop                                0
totalFare                                0
totalTravelDistance                  95977
segmentsDepartureTimeEpochSeconds        0
segmentsDepartureTimeRaw                 0
segmentsArrivalTimeEpochSeconds          0
segmentsArrivalTimeRaw                   0
segmentsArrivalAirportCode               0
segmentsDepartureAirportCode             0
segmentsAirlineName                      0
segmentsAirlineCode                      0
segmentsEquipmentDescription         25874
segmentsDurationInSeconds                0
segmentsDistance                         0
segmentsCabinCode                        0
dtype: int64

In [6]:
missing_columns = df.columns[df.isna().any()]
percentage_missing = (df[missing_columns].isna().sum() / len(df) * 100).to_frame(name='Percentage Missing')

print(percentage_missing)

                              Percentage Missing
totalTravelDistance                     7.098891
segmentsEquipmentDescription            1.913757

**[3]** Deciding to drop null values because the percentages are less than 10% of the entire dataset

In [7]:
df.dropna(inplace=True)

In [8]:
pd.set_option('display.max_columns', None)

The price of a plane ticket is constantly changing based on 
- current demand for a flight, 
- the number of seats available, and 
- the timing of booking

**[4]** Map True to 1 and False to 0

In [9]:
df[['isBasicEconomy', 'isRefundable', 'isNonStop']] = df[['isBasicEconomy', 'isRefundable', 'isNonStop']].applymap({True: 1, False: 0}.get)

**[5]** Create booking period from calculating days between flight date and booking date

In [10]:
df[['flightDate', 'searchDate']] = df[['flightDate', 'searchDate']].apply(pd.to_datetime)

In [11]:
df['bookingPeriod'] = (df['flightDate'] - df['searchDate']).dt.days

**[6]** Convert categorical values to numerical one

In [12]:
df['flightDateNo'] = df['flightDate'].apply(lambda x: x.day)

**[7]** Convert travel duration to minutes

In [13]:
import re

# Your regular expression pattern was missing a closing parenthesis
pattern = r'(\d+)H(\d+)M'

# Assuming df is your DataFrame and 'travelDuration' is a column with strings like '2H30M'

**[8]** Extract day of the week and convert them to integers

In [14]:
df['day_of_week'] = df['flightDate'].apply(lambda x: x.isoweekday())

**[9]** Convert original and destination airports to integers per the following airport dictionary

In [15]:
airport_mapping = {'ATL': 0, 'BOS': 1, 'CLT': 2, 'DEN': 3, 'DFW': 4, 'DTW': 5, 'EWR': 6, 'IAD': 7, 'JFK': 8, 'LAX': 9, 'LGA': 10, 'MIA': 11,  'OAK': 12, 'ORD': 13, 'PHL': 14, 'SFO': 15}

In [16]:
df[['startingAirport', 'destinationAirport']] = df[['startingAirport', 'destinationAirport']].apply(lambda x: x.map(airport_mapping) if x.name in ['startingAirport', 'destinationAirport'] else x)

**[10]** Convert cabin code to interger and replace those mix cabin codes such as 'coach||premium' to 'mix'

In [17]:
df['segmentsCabinCode'].unique()

array(['coach', 'coach||coach', 'coach||coach||coach',
       'coach||coach||coach||coach', 'first||first',
       'premium coach||coach||coach', 'premium coach||coach',
       'coach||coach||premium coach', 'coach||premium coach',
       'coach||first', 'business||coach', 'first', 'premium coach',
       'coach||coach||business', 'premium coach||premium coach',
       'first||coach', 'business', 'business||business',
       'coach||premium coach||coach',
       'coach||premium coach||premium coach', 'first||coach||coach',
       'coach||business', 'coach||coach||first',
       'premium coach||premium coach||coach', 'first||first||coach',
       'business||coach||coach', 'coach||coach||coach||premium coach',
       'first||first||first', 'coach||first||first',
       'coach||business||business', 'coach||first||coach',
       'coach||business||coach', 'first||coach||first', 'business||first',
       'coach||coach||coach||first', 'business||business||coach',
       'coach||coach||first||coach', 'first||coach||coach||coach'],
      dtype=object)

In [18]:
df['segmentsCabinCode'] = df['segmentsCabinCode'].apply(lambda x: 'mix' if all(item != x.split('||')[0] for item in x.split('||')[1:]) else x.split('||')[0])

In [19]:
# cabincode_mapping dictionary
cabincode_mapping = {'coach': 0, 'premium coach': 1, 'business': 2, 'first': 3, 'mix': 4}

In [20]:
df['segmentsCabinCode'] = df['segmentsCabinCode'].apply(lambda x: cabincode_mapping[x] if x in cabincode_mapping else x)

**[11]** Convert departure time to 12 bins

In [21]:
bin_labels = ['Midnight-2AM', '2AM-4AM', '4AM-6AM', '6AM-8AM', '8AM-10AM', '10AM-12PM', '12PM-2PM', '2PM-4PM', '4PM-6PM', '6PM-8PM', '8PM-10PM', '10PM-Midnight']
departuretime_mapping = {'Midnight-2AM': 0, '2AM-4AM': 1, '4AM-6AM': 2, '6AM-8AM': 3, '8AM-10AM': 4, '10AM-12PM': 5, '12PM-2PM': 6, '2PM-4PM': 7, '4PM-6PM': 8, '6PM-8PM': 9, '8PM-10PM': 10, '10PM-Midnight': 11}

In [22]:
df['segmentsDepartureTimeRaw'] = df['segmentsDepartureTimeRaw'].apply(lambda x: x.split('||')[0])

In [23]:
df['segmentsDepartureTimeRaw'] = pd.to_datetime(df['segmentsDepartureTimeRaw'], utc=True)

In [24]:
# Extract the hour using .dt accessor
df['departTime_bin'] = pd.cut(df['segmentsDepartureTimeRaw'].dt.hour, bins=[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24], labels=bin_labels, right=False)

# Now, map the bin labels to numerical values
df['departTime_bin'] = df['departTime_bin'].map(departuretime_mapping)

**[12]** Convert string distance to numeric kilometres

In [25]:
df['segmentsDistance'] = df['segmentsDistance'].apply(lambda x: sum(int(value) for value in x.split('||')))

# Modelling
## Linear Regression

In [26]:
train_cols = ['startingAirport', 'destinationAirport', 'segmentsDistance', 'segmentsCabinCode', 
              'bookingPeriod', 'flightDateNo', 'day_of_week', 'departTime_bin']

In [27]:
y = df['totalFare']
X = df[train_cols]

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
reg = LinearRegression().fit(X_train, y_train)

In [30]:
y_pred = reg.predict(X_test)

In [35]:
from sklearn.metrics import mean_squared_error, r2_score
import math

# Evaluate the model
rmse = math.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

# Print the model's performance metrics
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Root Mean Squared Error (RMSE): 167.82
R-squared (R2): 0.36

## KNeighborsRegressor

In [32]:
from sklearn.neighbors import KNeighborsRegressor
 
#Create a KNeighborsRegressor model
model = KNeighborsRegressor(n_neighbors=5)  # You can adjust the number of neighbors as needed

# Fit the model to the training data
model.fit(X_train, y_train)

KNeighborsRegressor()

In [33]:
y_pred_gbr = model.predict(X_test)

In [36]:
# Evaluate the model
rmse = math.sqrt(mean_squared_error(y_test, y_pred_gbr))
r2 = r2_score(y_test, y_pred_gbr)

# Print the model's performance metrics
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Root Mean Squared Error (RMSE): 126.71
R-squared (R2): 0.63